/*  COLORS:
Med blue = 51, 193, 227, #33C1E3
Dark blue = 51, 167, 187, #33A7BB
Orange = 255, 126, 57 , #FF7E39
Pale orange = 255, 173, 138, #FFAD8A
Gray = 148, 148, 148, #949494
Light gray = 247, 247, 247, #F7F7F7
 */

html {
	font-family: 'Raleway', sans-serif;
	min-width: 1180px;
}

body {
	margin: 0;
	padding: 0;

	background: #F7F7F7;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

button {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	text-align: center;

	-moz-box-shadow: inset 0px 1px 0px 0px white;
	-webkit-box-shadow: inset 0px 1px 0px 0px white;
	box-shadow: inset 0px 1px 0px 0px white;

	border: 1px solid #BABABA;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #EDEDED), color-stop(1, #C9C9C9));
	background: -moz-linear-gradient(center top, #EDEDED 5%, #C9C9C9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#EDEDED', endColorstr='#DFDFDF');

	text-shadow:1px 1px 0px #ffffff;
}
button:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #C9C9C9), color-stop(1, #EDEDED));
	background: -moz-linear-gradient(center top, #C9C9C9 5%, #EDEDED 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#DFDFDF', endColorstr='#EDEDED');
	background-color: #C9C9C9;
}
button:active {
	position: relative;
	top: 1px;
}

hr {
	border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0)); 
}

.center {
	text-align: center;
}

.white-tile {
	background: white;
	border-radius: 3px;
	box-shadow: 0px 0px 2px 1px #DDDDDD;
	-moz-box-shadow: 0px 0px 2px 1px #DDDDDD;
	-webkit-box-shadow: 0px 0px 2px 1px #DDDDDD;
}

.border-right {
	border-right: 1px solid #DFDFDF;
}

.pull-right {
	float: right;
}

/* Top nav bar */
#topnav-container {
	background-image: url('images/black-linen.png');
	margin: 0;
	padding: 0;

	height: 45px;
}
#logo-container {
	width: 250px;
	float: left;
}
#logo {
	width: 220px;
}
#topnav-list {
	margin: 0;
	padding: 0;

	list-style: none;
	float: right;
}
.topnav-item {
	display: inline-block;
	padding: 10px;
	text-transform: lowercase;
	font-weight: 100;
}
.topnav-link {
	text-decoration: none;
	font-size: 22px;
	color: #949494;
}
.topnav-link:hover { color: #FF7E39; }
.topnav-link:active { color: #FF7E39; }


/* Main body */
#content-container {
	margin: 40px;
}
#symptoms-container {
	margin: 30px auto;
	padding: 20px 0 5px 0;
	width: 1090px;
}
#symptoms-form-container {
	margin: auto;
}
.symptoms-inner-container {
	width: 250px;
	height: 350px;
	padding: 0 10px 0 10px;
	float: left;
	font-size: 14px;

}
#button-container {
	width: 200px;
	margin: auto;
}
#submit-button {
	width: 200px;
	margin-top: 20px;
}
.severity-container {
	padding-right: 35px;
	font-weight: 100;
}
.input-container {
	display: block;
	height: 30px;

	padding: 0;
	margin-bottom: 10px;
}
.name-container {
	width: 100px;
	float: left;
}



